
.nav-bar {
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
    padding: 10px;
}